<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if username %}
        <p>Hello, {{ username }}</p>
        <a href="{{ url_for('logout')}}">Logout</a>
    {% else %}
        <p>Hello, Guest!</p>
        <a href="{{ url_for('login') }}">Login</a>    
    {% endif %}
    
    <h1>THE MAGAZ with database</h1>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ url_for('category', cat_id=category.id) }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>